.cancel-btn:hover {
  background: #64b5f6; /* lighter blue */
  color: #fff;
  border-color: #64b5f6;
}

.delete-btn:hover {
  background: #e53935; /* red */
  color: #fff;
  border-color: #e53935;
} 